
.cover {
	background-image: url('https://wallpaperaccess.com/full/124383.jpg');
	animation: coverfade 1s ease-out;
}
.modal{
	color: black;
}
.coverbg {
	background-color: black;
}
.contentoverlay{
	width: 90%;
	height: 90%;
	margin: auto;
	background-color: rgba(0,0,0,0.8);
	border-radius: 10px;
	padding: 20px;
}
.contentoverlay > p, .contentoverlay, .contentce > p, #just{
	padding: 20px;
    text-align: justify;
    text-justify: inter-word;
    color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes coverfade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
