body {
    background: black;
    color: #fff;
}

.img {
    overflow: hidden;
}

.eventcar {
    width: inherit;
    height: 100vh;
    z-index: 0;
    margin-bottom: 0;
}

.eventitem {
    width: inherit;
    height: 100vh;
    z-index: 0;
}

img {
    display: block;
    height: 100%;
    width: inherit;
    overflow: hidden;
    object-fit: cover;
}