body {
    background: black;
    color: #fff;
}

.img {
    overflow: hidden;
}

.eventcar {
    width: inherit;
    height: 90vh;
    z-index: 0;
}

.eventitem {
    width: inherit;
    height: 90vh;
    z-index: 0;
}

img {
    display: block;
    height: 100%;
    width: inherit;
    overflow: hidden;
    object-fit: cover;
}


/* @media (min-width: 760px) {
    .eventcar {
        width: inherit;
        height: 90vh;
    }
    .eventitem {
        width: inherit;
        height: 90vh;
    }
    img {
        display: block;
        height: 100%;
        width: inherit;
        overflow: hidden;
        object-fit: cover;
    }
}

@media (max-width:760px) {
    .eventcar {
        width: inherit;
        height: 150vw;
    }
    .eventitem {
        width: inherit;
        height: 150vw;
    }
    img {
        display: block;
        height: 100%;
        width: inherit;
        overflow: visible;
        object-fit: cover;
    }
} */