.car,
.caritem {
    height: 96vh;
}

.car {
    position: absolute;
    margin-top: 2vh;
    display: flex !important;
}

.carmob {
    height: 100%;
    display: flex !important;
}

.carmob-item {
    height: 40vh;
    position: absolute;
    top: 0%;
}

.boxmovemob {
    transition: all 200ms ease-in-out;
    width: 50px;
    height: 50px;
    /* background-color: hsl(221, 13%, 62%); */
    position: absolute;
    left: 7%;
    z-index: 2;
    top: calc(40vh - 25px);
}

.slidenummob {
    font-family: 'Quicksand';
    font-size: 20pt;
    text-align: center;
    color: #f7f7f7;
    line-height: 50px;
}

.control-nextmob {
    transition: all .5s;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 7%;
    top: calc(40vh - 25px);
    z-index: 2;
}

.next-iconmob {
    position: absolute;
    color: #f7f7f7;
    font-family: 'Quicksand';
    font-size: 40pt;
    left: 50%;
    transform: translateX(-50%);
    line-height: 40px;
}

.img {
    transition: all 200ms ease-in-out;
    transform-origin: center;
    display: block;
    height: 100%;
    width: inherit;
    overflow: hidden;
    object-fit: cover;
    border: none;
}

.imgmob {
    transition: all 200ms ease-in-out;
    transform-origin: center;
    display: block;
    height: 100%;
    width: inherit;
    overflow: hidden;
    object-fit: cover;
    border: none;
}

.boxmove {
    transition: all 200ms ease-in-out;
    width: 60px;
    height: 60px;
    position: absolute;
    right: 7%;
    z-index: 2;
    top: 20%;
}

.small-img-holder:hover {
    transform: scale(1.2);
}

.img:hover~.boxmove {
    transform: translateX(32px);
}

.img:hover {
    transform: scale(1.2);
    overflow: hidden;
}

.event-heading, .event-heading > h1, .event-desc, .event-desc > p{
    width:100%;
    text-align: center;
    color: white;
	font-variant-caps: small-caps;
    font-family: 'Raleway', sans-serif;
}
.event-desc > .other-info{
    width:100%;
    text-align: left;
    color: white;
	font-variant-caps: small-caps;
    font-family: 'Raleway', sans-serif;
    position: absolute;
    bottom: 20%;
    /* background: blue; */
    padding-left: 5%;
    padding-right: 5%;
}
.other-info > p{
    text-align: left;
    font-size: larger;
}
.event-heading > h1{
    padding: 5%;
    padding-bottom: 5%;
}

.event-desc > p{
    font-size: larger;
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%;
}

.button-holder{
    width:100%;
    padding-right: 5%;
    bottom: 10%;
    position: absolute;
}
.button-moreinfo{
    display: inline-block;
    width:50%;
    text-align: center;
}
.button-register{
    display: inline-block;
    width:50%;
    text-align: center;
}