h1 {
    text-align: center;
}

.img {
    display: block;
    height: 100%;
    width: inherit;
    overflow: hidden;
    object-fit: cover;
    border: none;
}

.car,
.caritem {
    height: 100vh;
}

.uscon {
    min-height: 90vh;
    color: black;
}

.contact {
    display: table-cell;
    vertical-align: middle;
    height: 50vh;
    width: 100vw;
}