.coverlogin {
    /* background-image: url('https://cdn.dodowallpaper.com/full/433/mandala-wallpaper-desktop-4.jpg'); */
    /* background-image: url('https://www.animatedimages.org/data/media/107/animated-dancing-image-0049.gif'); */
    transition: all 2s;
    background-size: cover;
    min-height:100vh;
}

.card {
    width: 40%;
    left: 30%;
}

.heading {
    padding: 20px;
}

.changeform {
    color: primary;
    padding: 10px;
}

.col {
    text-align: center;
}

@media screen and (max-width: 900px) {
    .card {
        width: 90%;
        left: 5%;
    }
}