@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v13/TUZyzwprpvBS1izr_vOECuSf.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.sche-heading {
    font-family: 'Amatic SC', sans-serif !important;
    font-size: 4em !important;
}

.sche-card {
    width: 100% !important;
    left: 0% !important;
    /* background-color: transparent !important; */
    color: white;
}

.mai-sche {
    margin-left: 10vw;
    margin-right: 10vw;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: teal;
}

.sche>tr>th,
.sche>tr>td,
.sche>tr {
    color: white;
    text-align: center;
}

@media screen and (max-width: 770px) {
    .mai-sche {
        margin-left: 2vw;
        margin-right: 2vw;
    }
}