.loader-container {
    height: 100vh;
    width: 100vw;
    background-color: #000;
    position: absolute;
    z-index: 1000;
}

.loader-b{
    stroke: #ffcd38;
    width:60vw;
    fill:none;
    stroke-width: 5px;
    display:block;
    margin: auto;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translateX(-50%) translateY(-50%);
}

.loader-b-path{
    stroke-dasharray: 2000;
    stroke-dashoffset: 4000;
    transform-origin: center;
    animation: dash 10s ease-in-out infinite;
}

@keyframes dash{
    0%{
        stroke-dashoffset: 4000;
    }
    80%{
        transform: scale(1);
    }
    90%{
        
        transform: scale(0.2) rotate(0deg);
    }
    100%{
        stroke-dashoffset: 0;
        transform: scale(1) rotate(359deg);
    }
}

.loader-text {
    font-size: 20px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.loader {
    width: 70vw;
    height: 70vh;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation: rot 15s linear infinite;
}

@keyframes rot {
    from {
        filter: hue-rotate(0deg);
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    to {
        filter: hue-rotate(359deg);
        transform: translateX(-50%) translateY(-50%) rotate(359deg);
    }
}

.loader-text-svg {
    width: 80vw;
    position:relative;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

@media screen and (min-width: 760px) {
    .loader-text {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
    .loader-text-svg {
        width: 25em;
        position:relative;
        top:50%;
        left:50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .loader {
        width: 50vw;
        height: 50vh;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%);
        animation: rot 15s linear infinite;
    }
    .loader-b{
        stroke: #ffcd38;
        width:30vw;
        fill:none;
        stroke-width: 5px;
        display:block;
        margin: auto;
        position: absolute;
        left: 50%;
        top:50%;
        transform: translateX(-50%) translateY(-50%);
    }
}