.loader-container {
    height: 100vh;
    width: 100vw;
    background-color: black;
    position: absolute;
    z-index: 100;
}

.loader-text {
    font-size: 20px;
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

.loader {
    width: 70vw;
    height: 70vh;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
    animation: rot 15s linear infinite;
}

@keyframes rot {
    from {
        filter: hue-rotate(0deg);
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }
    to {
        filter: hue-rotate(359deg);
        transform: translateX(-50%) translateY(-50%) rotate(359deg);
    }
}

.loader-text-svg {
    width: 80vw;
}

@media screen and (min-width: 760px) {
    .loader-text {
        position: absolute;
        bottom: 10%;
        left: 50%;
        transform: translateX(-50%);
    }
    .loader-text-svg {
        width: 25em;
    }
    .loader {
        width: 50vw;
        height: 50vh;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
        animation: rot 15s linear infinite;
    }
}