.cont {
    height: 100%;
    overflow-y: scroll;
    /* position: relative; */
    /* top: 0%; */
}

.contcol {
    padding: 5px;
}

.contimg {
    width: 100%;
    height: inherit;
}

.contmob {
    height: 100%;
    overflow-y: scroll;
}

.cont::-webkit-scrollbar {
    width: 10px;
}

.cont::-webkit-scrollbar-track {
    background-color: black;
}

.cont::-webkit-scrollbar-thumb {
    background-color: #444;
}

.cont::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}

@font-face {
    font-family: 'Amatic SC';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Amatic SC Regular'), local('AmaticSC-Regular'), url(https://fonts.gstatic.com/s/amaticsc/v13/TUZyzwprpvBS1izr_vOECuSf.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.spon-main-head {
    font-family: 'Amatic SC', sans-serif;
    font-size: 3em;
}

.circle {
    /* background: black; */
    width: 260px;
    height: 260px;
    border-radius: 135px;
}

.circle-heading {
    width: 260px;
    text-align: center;
    color: white;
}

.circlein {
    /* background: black; */
    width: 215px;
    height: 215px;
    margin: 19.5px;
    border-radius: 135px;
    border: 2px solid white;
    overflow: hidden;
    /* background-color: tomato; */
}

.outer-ring {
    animation: rotatesvg 30s linear infinite;
}

@keyframes rotatesvg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.mid {
    padding-left: 5vw;
    ;
}

.midout {
    padding-left: 20vw;
}

.midret {
    padding-left: 5vw;
}

@media screen and (max-width: 760px) {
    .mid {
        padding-left: 18vw;
        ;
    }
    .midout {
        padding-left: 18vw;
    }
    .midret {
        padding-left: 18vw;
    }
}