.cont {
    height: 100%;
    overflow-y: scroll;
    /* position: relative; */
    /* top: 0%; */
}

.contcol {
    padding: 5px;
}

.contimg {
    width: 100%;
    height: inherit;
}

.contmob {
    height: 100%;
    overflow-y: scroll;
}

.cont::-webkit-scrollbar {
    width: 10px;
}

.cont::-webkit-scrollbar-track {
    background-color: black;
}

.cont::-webkit-scrollbar-thumb {
    background-color: #444;
}

.cont::-webkit-scrollbar-thumb:hover {
    background-color: #333;
}

.circle {
    background: black;
    width: 260px;
    height: 260px;
    border-radius: 135px;
}

.circlein {
    background: black;
    width: 215px;
    height: 215px;
    margin: 19.5px;
    border-radius: 135px;
    border: 2px solid white;
    overflow: hidden;
    /* background-color: tomato; */
}

.outer-ring {
    animation: rotatesvg 30s linear infinite;
}

@keyframes rotatesvg {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}