.trackimgmob {
	display: block;
	width: 100%;
	height: 60vw;
	object-fit: cover;
}
.exploremob {
    color: white;
    text-decoration: none;
	position: relative;
	top: 55vw;
	display: inline-block;
	font-size: 0.8rem;
	font-family: 'Open Sans';
	border: 1px solid white;
	border-radius: 3px;
	padding: 1px;
}
